{% extends 'layout.html' %}

{% block body %}
    <div class="container">
      <div class="row">
          <div class="col-md-4 offset-md-4">
              <div class="login-form bg-light mt-4 p-4">
                  <form action="" method="post" class="row g-3">
                    {{ form.csrf_token}}
                      <img src="/static/img/world.png" alt="">
                      <h1>ingreso Aliportal</h1>
                      <div class="col-12">
                          <label for="" class="form-label">{{form.usuario.label}}</label>
                          {{form.usuario(size=30 )}}
                      </div>
                      <div class="col-12">
                        <label for="" class="form-label">{{form.contraseña.label}}</label>
                        {{form.contraseña(size=30)}}
                    </div>
                      <div class="col-12">
                          <div class="form-check">
                             {{form.recordar()}} {{form.recordar.label}}
                          </div>
                      </div>
                      <div class="col-12">
                          <button type="submit" class="btn btn-dark float-end">Ingresar</button>
                      </div>
                  </form>
                  <hr class="mt-4">
              </div>
          </div>
      </div>
  </div>
  {% endblock %}